<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Betfair.DataProvider.SoapAPI6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Betfair.DataProvider.SoapAPI6.Properties.Settings>
            <setting name="SoapAPI6_Betfair_api_soap_global_BFGlobalService"
                serializeAs="String">
                <value>https://api.betfair.com/global/v3/BFGlobalService</value>
            </setting>
            <setting name="SoapAPI6_Betfair_api_soap_exchange_BFExchangeService"
                serializeAs="String">
                <value>https://api.betfair.com/exchange/v5/BFExchangeService</value>
            </setting>
        </Betfair.DataProvider.SoapAPI6.Properties.Settings>
    </applicationSettings>
</configuration>